@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

.section2{
  text-align: center;
}
.hero {
  // visibility: hidden;
 width: 100%;
 min-height: 100vh;

  .hero-inner {
    position: relative;
    margin: 40px 24px;
    text-align: left !important;
  }
  .hero-content {
    .hero-content-inner {
      max-width: 400px;
      color: #323232;

      h1 {
        font-weight: 500;
        font-size: 32px;

        .hero-content-line {
          height: 44px;
        }
      }

      h1 > div:last-child {
        margin-bottom: 10%;
      } 
      p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 56px;
      }
      .btn-row {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          width: 56px;
          height: 1px;
          background: #dfdfdf;
          top: 50%;
          left: -68px;
        }
        button {
          background: none;
          border: none;
          font-size: 12px;
          padding: 0;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.7px;
          display: flex;
          align-items: center;
          position: relative;
          &:focus {
            outline: none;
          }
          .arrow-icon {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #007fff;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            margin-left: 16px;
            left: 64px;
            transform-origin: center center;
          }
        }
      }
    }
  }
  .hero-images {
    .hero-images-inner {
      .hero-image {
        height: 100%;
        width: 100%;

        img {
          border-radius: 6px;
          width: 100%;
          object-fit: cover;
        }
        &.boy {
          position: absolute;
          width: 45%;
          height: 50%;
          top: 0;
          right: 0px;
        }
        &.girl {
          position: absolute;
          left: 0px;
          top: 20%;
          width: 45%;
        }
      }
    }
  }
}

@media(max-width: 767.9px) {
  .hero {
    min-height: 40em;
  }
  .hero-content {
    padding-bottom: -50px !important;
  }

  .hero-content-inner {
    h1 {
      font-size: 21px !important;
      margin-bottom: 11%;
    }

    p {
      margin-bottom: 35px !important;
    }
  }
  .hero-content-line {
    max-height: 25px !important;
  }

  .girl, .boy {
    position: relative;
    top: auto !important;
  }
  .hero-image {
    img {
      height: 150px !important;
      width: 125px !important;
    }
  } 
  .btn-row {
    margin-left: 10%;
    margin-bottom: 15%;
  }

  .girl-details, .boy-details {
    h3 {
      font-size: 15px !important;
    }

    p {
      font-size: 11px;
      padding-bottom: 30px !important;
    }
  }
}

@media(min-width: 769px) and (max-width: 1024px) {
  // .hero {
  //   height: 86vh !important;
  // }
}








